.Action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: #ffffff;
    border: none;

    &:hover {
        opacity: .8;
    }

    &__Icon {
        fill: #333333;
        width: 16px;
        height: 16px;
    }
}
